
    body {
        background: black;
        color: #91ecBE;
    }
    
    li {
        color: #be91ec;
    }

    h1, h2 {
        color: #ecbe91;
    }
    h5 {
        color:red;
    }
    h6 {
        color:#355;
    }
